# Amateur Coding Challenges

In [1]:
import numpy as np
import datetime

#### 1. Write a function that returns the SUM of a sequence of numbers. This sequence is determined by three variables: start, finish, and step. The sequence begins at start, ends at finish, and goes up by step until it reaches finish or a number that when increased by step would go past finish.

Examples:

Input: start: 1 finish: 4 step: 1 | Output: 10

Input: start: 4 finish: 10 step: 4 | Output: 12

In [2]:
def sum_of_sequence(start, finish, step=1):
    return sum(range(start, finish + 1, step))

In [3]:
sum_of_sequence(1, 4)

10

In [4]:
sum_of_sequence(4, 10, 4)

12

#### 2. Given a string of any length with any characters in it, write a function to determine whether or not the string contains the whole word "english". The order of characters/spelling is important, a string "agkjnenglishsad" would return true while "asdneglihsth" would return false. Upper and lower case does not matter. Return values should be booleans (true/false).

Examples:

Input: "FaagdnglishAGG" | Output: false

Input: "SMFENgliSHasnD" | Output: true

In [5]:
def contains_english(string):
    return 'english' in string.lower()

In [6]:
contains_english('FaagdnglishAGG')

False

In [7]:
contains_english('SMFENgliSHasnD')

True

#### 3. Given an array of integers, write a function that returns an array of 2 integers. The first integer will be the count of the positive integers, and the second integer will be the sum of the negative integers. If the input is empty or null, return an empty array.

Examples:

Input: [1, -6, 5, 4, 3, -7, -10, 201, -3] | Output: [5, -26]

Input: null | Output: []

In [8]:
def count_pos_sum_neg(arr):
    
    if len(arr) == 0:
        return []
    
    return [len([i for i in arr if i > 0]), sum([i for i in arr if i < 0])]

In [9]:
count_pos_sum_neg([1, -6, 5, 4, 3, -7, -10, 201, -3])

[5, -26]

In [10]:
count_pos_sum_neg([])

[]

#### 4. Write a function that translates an input string by replacing each character with a number representing the amount of times that character appears in the string. Then separate each individual number with a different character.

Examples:

Input: "hello world", "-" | Output: "1-1-3-3-2-1-1-2-1-3-1"

Input: "challenge", "/" | Output: "1/1/1/2/2/2/1/1/2"

In [11]:
def replacer(string, separator='-'):
    
    counts = {}
    
    for char in string:
        if char not in counts:
            counts[char] = string.count(char)
            
    for char in string:
        string = string.replace(char, str(counts[char]))
        
    return separator.join(string)

In [12]:
replacer('hello world')

'1-1-3-3-2-1-1-2-1-3-1'

In [13]:
replacer('challenge', '/')

'1/1/1/2/2/2/1/1/2'

#### 5. Given a string of names like this: "Travis:Meyer;Gene:Carangal;Tom:Young;Jeff:Meyer", write a function that makes the entire string uppercase and sorts it in alphabetical order by last name. If the last names are the same sort them by the first name. Put the last name in front of the first name, remove the colons and semicolons, put the names in parentheses and separate the names with commas.

Example:

The end string should look like this: "(CARANGAL, GENE)(MEYER, JEFF)(MEYER, TRAVIS)(YOUNG, TOM)"

In [14]:
def name_sorter(string):
    
    lst = []
    lst2 = []
    
    for i in range(string.count(';')):
        lst.append(string[:string.index(';')])
        string = string[string.index(';') + 1:]
    lst.append(string)
    
    for name in lst:
        idx = name.index(':')
        lst2.append({'first': name[:idx], 'last': name[idx+1:]})
        
    lst2 = sorted(lst2, key=(lambda x: (x['last'], x['first'])))
    
    string2 = ''
    for elem in lst2:
        string2 += f"({elem['last'].upper()}, {elem['first'].upper()})"
        
    
    return string2

In [15]:
name_sorter('Travis:Meyer;Gene:Carangal;Tom:Young;Jeff:Meyer')

'(CARANGAL, GENE)(MEYER, JEFF)(MEYER, TRAVIS)(YOUNG, TOM)'

#### 6. Write a function to calculate a person’s age based on the date entered in the format MM/DD/YYYY.

Example:

Input: 11/04/1982

Output: 34

#### 7. Write a function to convert a string into an array of words.

Example:

Input: "Trick or Treat"

Output: [‘Trick’, ‘or’, ‘Treat’]

In [17]:
def string_to_list(string):
    return string.split()

In [18]:
string_to_list('Trick or Treat')

['Trick', 'or', 'Treat']

#### 8. Write a function to count the number of occurrences of a substring in a given string.

Example:

Input: "The pumpkin rolled down the hill and under someone’s car.", "the"
Output: 2

In [19]:
def count_substring(string, substring):
    return string.lower().count(substring)

In [20]:
count_substring('The pumpkin rolled down the hill and under someone’s car.', 'the')

2

#### 9. Write a function to remove these special characters from a string: ~,!,$,&,%, ,#,@,-,_,^,? (yes, "space" is a character in that list)

Examples:

Input: "Happy ~!&$%#@- Halloween" | Output: "HappyHalloween"

Input: "I’ll bet living in a nudist-colony takes all the fun out of Halloween!!" | Output: 
"IllbetlivinginanudistcolonytakesallthefunoutofHalloween"

In [21]:
def remove_specials(string):
    
    specials = ['~','!','$','&','%',' ','#','@','-','_','^','?',"'"]
    
    for char in string:
        if char in specials:
            string = string.replace(char, '')
    
    return string

In [22]:
remove_specials('Happy ~!&$%#@- Halloween')

'HappyHalloween'

In [23]:
remove_specials("I'll bet living in a nudist-colony takes all the fun out of Halloween!!")

'IllbetlivinginanudistcolonytakesallthefunoutofHalloween'

#### 10. Write a function called "multiply" that takes two integers and returns the product. You are NOT allowed to use the * operator or any imported multiplication function.

Example:

Input: multiply(5, 6) | Output: 30

Input: multiply(-1, 15) | Output: -15

Input: multiply(-2, -7) | Output: 14

In [24]:
def multiply(x, y):
    
    if y > 0:
        return sum([x for i in range(y)])
    elif x > 0:
        return sum([y for i in range(x)])
    else:
        return sum([abs(x) for i in range(abs(y))])

In [25]:
multiply(5, 6)

30

In [26]:
multiply(-1, 15)

-15

In [27]:
multiply(-2, -7)

14

In [28]:
multiply(2, -16)

-32

#### 11. Write a function that takes a string and returns true if all of the characters are the same case, false otherwise.

Examples:

Input: "hello world" | Output: true

Input: "HELLO WORLD" | Output: true

Input: "HeLLo wORld" | Output: false

In [29]:
def is_same_case(string):
    
    if string[0].isupper():
        for char in string:
            if char.isalpha() and char.islower():
                return False
        return True
    else:
        for char in string:
            if char.isalpha() and char.isupper():
                return False
        return True

In [30]:
is_same_case('HELLO WORLD')

True

In [31]:
is_same_case('hello world')

True

In [32]:
is_same_case('HeLLo wORld')

False

####  12. Write a function that takes an array of integers and returns an array of integers where each number is the sum of itself and all of the previous numbers in the array.

Example:

Input: [1, 1, 1] | Output: [1, 2, 3]

Input: [4, 2, 1, 3, 5] | Output: [4, 6, 7, 10, 15]

In [33]:
def cumulative_sum(lst):
    return [sum(lst[:i + 1]) for i in range(len(lst))]

In [34]:
cumulative_sum([1, 1, 1])

[1, 2, 3]

In [35]:
cumulative_sum([4, 2, 1, 3, 5])

[4, 6, 7, 10, 15]

#### 13. An Isogram is a word that has no repeating letters, consecutive or not. Write a function that takes a string and returns true if it’s an isogram and false if it isn’t.

Examples:

Input: "fish" | Output: true

Input: "food" | Output: false

Input: "color" | Output: false

In [36]:
def is_isogram(word):
    for letter in word:
        if word.count(letter) > 1:
            return False
    return True

In [37]:
is_isogram('fish')

True

In [38]:
is_isogram('food')

False

In [39]:
is_isogram('color')

False

#### 14. Write a function that takes a phone number with letters in it and converts it to one with only numbers. All input phone numbers will follow this pattern: "###-###-####" (Hint: Search for "phone keypad")

Examples:

Input: 210-367-CODE | Output: 210-367-2633
        
Input: TRY-THE-FOOD | Output: 879-843-3663

In [40]:
def convert_phone_number(number):
    
    keypad = {'ABC': '2', 
              'DEF': '3',
              'GHI': '4',
              'JKL': '5',
              'MNO': '6',
              'PQRS': '7',
              'TUV': '8',
              'WXYZ': '9'}
    
    for char in number:
        for elem in keypad:
            if char in elem:
                number = number.replace(char, keypad[elem])
                
    return number

In [41]:
convert_phone_number('210-367-CODE')

'210-367-2633'

In [42]:
convert_phone_number('TRY-THE-FOOD')

'879-843-3663'

#### 15. Write a function that returns all possible partitions of an array from left to right. With an n amount of elements in the input the returned array should have n-1 subarrays. An empty array should return an empty array.

Examples:

Input: [1, 5, 3, 2] | Output: [[[1], [5, 3, 2]], [[1, 5], [3, 2]], [[1, 5, 3], [2]]]
        
Input: [a, b, c] | Output: [[[a], [b, c]], [[a, b], [c]]]

In [43]:
def partition(lst):
    
    output = []
    
    for i in range(len(lst)-1):
        output.append([lst[:i+1], lst[i+1:]])
        
    return output

In [44]:
partition(['a', 'b', 'c'])

[[['a'], ['b', 'c']], [['a', 'b'], ['c']]]

In [45]:
partition([1, 5, 3, 2])

[[[1], [5, 3, 2]], [[1, 5], [3, 2]], [[1, 5, 3], [2]]]

In [46]:
partition([])

[]